<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      href="/assets/img/favicon/favicon.ico"
      type="image/x-icon"
    />
    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>Avitsenna School — zamonaviy ta'lim muassasasi.</title>
    {{/if}}

    <!-- meta seo -->
    <meta name="author" content="technews" />
    {{#if shortDescription}}
      <meta name="description" content="{{shortDescription}}" />
    {{else}}
      <meta
        name="description"
        content="Avitsenna School — zamonaviy ta'lim, yo‘nalishlar, xodimlar va yangiliklar bilan tanishing. Ilm sari qadam shu yerdan boshlanadi."
      />
    {{/if}}
    {{#if title}}
      <meta property="og:title" content="{{title}}" />
    {{else}}
      <meta
        property="og:title"
        content="Avitsenna School — zamonaviy ta'lim muassasasi."
      />
    {{/if}}
    {{#if shortDescription}}
      <meta property="og:description" content="{{shortDescription}}" />
    {{else}}
      <meta
        property="og:description"
        content="Avitsenna School — zamonaviy ta'lim, yo‘nalishlar, xodimlar va yangiliklar bilan tanishing. Ilm sari qadam shu yerdan boshlanadi."
      />
    {{/if}}
    {{#if imageUrl}}
      <meta type="image/jpeg" name="link" href="{{imageUrl}}" rel="image_src" />
      <meta property="og:image" content="{{imageUrl}}" />
      <meta property="twitter:image" content="{{imageUrl}}" />
    {{/if}}
    {{#if blogUrl}}
      <meta property="og:url" content="{{blogUrl}}" />
    {{else}}
      <meta property="og:url" content="https://avitsennamaktabi.uz" />
    {{/if}}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="AVITSENA" />
    {{#if blogUrl}}
      <link href="{{blogUrl}}" rel="canonical" />
    {{else}}
      <link href="https://avitsennamaktabi.uz" rel="canonical" />
    {{/if}}

    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{{body}}}

    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/libs/tinymce-config.js"></script>

    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- custom js -->
    <script src="/assets/js/aos.js"></script>
  </body>
</html>